<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Reserve Now</title>
    <style>
        .btn:focus,
        .btn.Focus {
            outline: 0;

        }

        button:focus {
            outline: 0;
        }

        .navbar {
            position: sticky;
            top: 0;
        }
    </style>
</head>

<body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">Reserve Now</span>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Main Page<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if not admin %} d-none {% endif %} ">
                    <a class="nav-link" href="/admin">Admin<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if not email %} d-none {% endif %} ">
                    <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if admin or email %} d-none {% endif %}">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/register">Register</a>
                </li>
                <li class="nav-item {% if not email %} d-none {% endif %}">
                    <form action="/auth/logout" method="post">
                        <button type="submit" class="nav-link text-danger bg-transparent border-0">Logout</a>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <section id="about" class="py-3 mt-5 container">
            <h3>What Is Reserve Now ?</h3>
            <p>
                You lost your train back home ?
            </p>
            <p>
                Are you stuck in a new city and you don't know anybody ?
            </p>
            <p>
                Don't panic! You are not alone.
                Reserve Now is a place for those who need some help but renting an Airbnb is too expensive.
                With Reserve Now you can find people who can help for real, not just get some cash out of your pocket.
            </p>

            <h4>My Story</h4>
            <p>
                I experienced many moments waiting for a train too late or just walking on the street in a new city
                because I didn’t have a place to stay for a few hours.
            </p>
            <p>
                So I wanted to build a platform where people can support others like me.
            </p>
        </section>
        <section id="features" class="container py-2">
            <h3>
                How It Works?
            </h3>
            <ul>
                <li>
                    Create an account (we also support Google Authentication for fast registration)
                </li>
                <li>
                    Pick a city where you want to spend your night or just a few hours
                </li>
                <li>
                    Find an announcement that fits your needs or post one yourself
                </li>
                <li>
                    Chat with someone or wait until someone can help you
                </li>
            </ul>
        </section>
        <section id="pricing" class="container py-2">
            <h3>
                What Is The Price?
            </h3>
            <p>
                Using the platform costs you no money.
            </p>
            <p>
                I encourage helping others for no money because this is an emergency.
                Anyway, if you can offer any services to your host, that would be great. What does this mean?
            </p>
            <p>
                If your host needs an electrician and you are one, you can trade your skills for a few hours of hosting.
                I like to call this a win-win!
            </p>
            <p>
                You can support this platform with a donation on my
                <a class="text-primary" href="https://www.paypal.com/paypalme/mihaiciorobitca"
                    style="cursor: pointer;">PayPal</a>
            </p>
        </section>
    </main>
    <footer class="footer mt-auto py-3">
        <div class="container text-center">
            <span>&copy; 2025 Reserve Now. All rights reserved.</span>
        </div>
    </footer>
</body>

</html>